h1 {
    text-align: center;
    font-family: 'Whisper', sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: white;
    cursor: default;
    &:hover {
        color: $color4;
    }
}

h2 {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: white;
    cursor: default;
    &:hover {
        color: $color4;
    }
}

h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    &:hover {
        color: $color4;
    }
}

p {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: white;
    cursor: default;
    &:hover {
        color: $color4;
    }

}