@import 'colors.scss';
@import 'card.scss';
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color1;
}

body {
    background-color: $color1;
}

nav {
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 1% auto;
    }

    ul {
        list-style: none;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

iframe {
    border: 0px;
    border-radius: 5px;
    width: 85%;
    height: 300px;
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}

@media screen and (max-width: 800px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 60%;
    }

    nav {
        ul {
            flex-direction: column;
            align-items: center;
            li {
                margin: 10px 0;
            }
        }
    }
}