@import "colors";


.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .btn {
    background-color: $colorPrimarioOscuro2;
    color: white;

    &:hover {
      background-color: $colorPrimarioOscuro2;
      color: white;
    }
  }
}

.btn-federate {
  font-family: "Lora", sans-serif;
  background-color: $colorPrimarioOscuro2;
  color: $colorSecundarioClaro1;

  &:hover {
    background-color: $colorSecundarioClaro1;
    color: $colorPrimarioOscuro2;
    border: 1px solid $colorPrimarioOscuro2;
  }
}