.carousel {
  width: 90%;
  margin: 0 auto;

  img {
    height: 600px;
  }

  .carousel-caption {
    background-color: $colorPrimarioClaro1;
    color: $colorSecundarioClaro1;

    p {
      color: #ffffff;
    }
  }
}