@import 'colors';
@import 'card';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $colorOscuroPrimario;
    height: auto;
}

body {
    background-color: $colorOscuroPrimario;
}

nav {
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 1% auto;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.descripcion {
    margin: 0 10%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: column;
    li {
        list-style: none;
    }
}

iframe {
    border: 0px;
    border-radius: 5px;
    width: 85%;
    height: 300px;
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    img {
        width: 100px;
        height: 100px;
    }
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 70px;
    }

    .footer-text {
        margin: 20px 10px;
    }
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
    input {
        width: 40%;
        height: 30px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        background-color: $colorWhite;
    }
    input[type="submit"] {
        width: 20%;
        height: 30px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        background-color: $colorClaroPrimario;
        color: $colorOscuroSecundario;
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
        cursor: pointer;
        &:hover {
            background-color: $colorClaroSecundario;
            color: $colorWhite;
        }
    }
    select{
        width: 40%;
        height: 30px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        background-color: $colorWhite;
    }
}

@media screen and (max-width: 840px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    nav {
        ul {
            flex-direction: column;
            align-items: center;
            li {
                margin: 10px 0;
            }
        }
    }

    iframe {
        width: 100%;
        margin: 1% auto;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        position: relative;
        top: 200px;
        
        .footer-text {
            margin: 20px 10px;
        }
    }
}