@import "colors";

.alert {
  background-color: $colorPrimario;
  border-radius: 5px;
  width: 100%;
  position: fixed;
  top: 92%;
  color: $colorSecundario;
  font-family: 'Lora', sans-serif;
  font-size: 1em;
}
