$colorPrimario: #c41e3a;
$colorPrimarioClaro1: #d6455e;
$colorPrimarioClaro2: #f07288;
$colorPrimarioOscuro1: #9d0e27;
$colorPrimarioOscuro2: #780015;
$colorSecundario: #eeeff3;
$colorSecundarioClaro1: #ffffff;
$colorSecundarioOscuro1: #cdd1de;
$colorSecundarioOscuro2: #a0a6c1;