@import "colors";

form {
  font-family: "Lora", sans-serif;
}

.form-control:focus {
  border-color: $colorPrimario;
  box-shadow: none;
}

.form-check-input:checked {
  border-color: $colorPrimario;
  background-color: $colorPrimario;
}

.form-check-input:focus {
  box-shadow: none;
}