@import "colors";

.btn-primary {
    background-color: $intermedio;
    color: #000000;
    border-color: $claroSecundario;
    font-weight: bold;
    &:hover {
        background-color: $claroSecundario;
        border-color: $claroPrimario;
        color: #000000;
    }
}

.btn-secondary {
    background-color: $claroSecundario;
    color: #000000;
    border-color: $intermedio;
    font-weight: bold;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background-color: $oscuroSecundario;
        color: #FFFFFF;
        img {
            filter: invert(100%);
            transition: 0.15s;
        }
    }
}