@import "colors";
@import "fonts";

.card {
    display: block;
    text-decoration: none;
    background-color: $oscuroSecundario;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    @media (min-width: 768px) {
        height: 124px;
    }

    &:hover {
        transform: scale(1.05);
    }

    .card-title {
        font-size: 1.2rem;
        margin: 10px 0;
        color: white;
    }

    .card-text {
        font-size: 1rem;
        color: $claroSecundario;
        margin-bottom: 10px;
    }
}

