@import "colors";

header {
    background-color: $claroPrimario;
    color: #fff;
    padding: 20px;
    text-align: center;

    a {
        text-decoration: none;
        h2 {
            color: #fff;
        }

        img {
            width: 300px;
        }

    }

}